axial-attention==0.6.1
monai==1.4.*
onnx>=1.17.0
onnxruntime>=1.20.1
onnxscript>=0.1.0.dev20241204
einops>=0.8.0
dataclasses-json>=0.6.7
torch>=2.5.1
torchvision>=0.19.1
tabulate>=0.9.0
lightning[pytorch-extra]
pandas>=2.2.3
torchmetrics>=1.6.0
torch-geometric>=2.6.1
scipy>=1.14.1
sentencepiece>=0.2.0
tiktoken>=0.8.0
huggingface_hub>=0.26.5
lightning-bolts>=0.7
timm>=1.0.11
tensorflow==2.20.0