# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  tests:
    env:
      PYTHONPATH: '.'
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Check disk space
      run: df . -h

    - name: Free disk space
        run: |
          sudo docker rmi $(docker image ls -aq) >/dev/null 2>&1 || true
          sudo rm -rf \
            /usr/share/dotnet /usr/local/lib/android /opt/ghc \
            /usr/local/share/powershell /usr/share/swift /usr/local/.ghcup \
            /usr/lib/jvm || true
          echo "some directories deleted"
          sudo apt install aptitude -y >/dev/null 2>&1
          sudo aptitude purge aria2 ansible azure-cli shellcheck rpm xorriso zsync \
            esl-erlang firefox gfortran-8 gfortran-9 google-chrome-stable \
            google-cloud-sdk imagemagick \
            libmagickcore-dev libmagickwand-dev libmagic-dev ant ant-optional kubectl \
            mercurial apt-transport-https mono-complete libmysqlclient \
            unixodbc-dev yarn chrpath libssl-dev libxft-dev \
            libfreetype6 libfreetype6-dev libfontconfig1 libfontconfig1-dev \
            snmp pollinate libpq-dev postgresql-client powershell ruby-full \
            sphinxsearch subversion mongodb-org azure-cli microsoft-edge-stable \
            -y -f >/dev/null 2>&1
          sudo aptitude purge google-cloud-sdk -f -y >/dev/null 2>&1
          sudo aptitude purge microsoft-edge-stable -f -y >/dev/null 2>&1 || true
          sudo apt purge microsoft-edge-stable -f -y >/dev/null 2>&1 || true
          sudo aptitude purge '~n ^mysql' -f -y >/dev/null 2>&1
          sudo aptitude purge '~n ^php' -f -y >/dev/null 2>&1
          sudo aptitude purge '~n ^dotnet' -f -y >/dev/null 2>&1
          sudo apt-get autoremove -y >/dev/null 2>&1
          sudo apt-get autoclean -y >/dev/null 2>&1
          echo "some packages purged"

    - name: Check disk space
      run: |
        sudo dpkg-query -Wf '${Installed-Size}\t${Package}\n' | sort -nr | head
        df . -h
        sudo du /usr/ -hx -d 4 --threshold=1G | sort -hr | head

    - name: Gather Python changed files
      id: changed-py-files
      uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46
      with:
        files: |
          *.py
          **/*.py

    - name: Set up Python 3.10
      if: steps.changed-py-files.outputs.any_changed == 'true'
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'

    - name: Install dependencies
      if: steps.changed-py-files.outputs.any_changed == 'true'
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_dev.txt

    - name: Lint with ruff
      if: steps.changed-py-files.outputs.any_changed == 'true'
      run: |
        ruff format --check ${{ steps.changed-py-files.outputs.all_changed_files }}
        ruff check ${{ steps.changed-py-files.outputs.all_changed_files }} --select I

    - name: Type hinting with mypy on changed files
      if: steps.changed-py-files.outputs.any_changed == 'true'
      run: |
        mypy ${{ steps.changed-py-files.outputs.all_changed_files }}

    - name: Test with pytest
      if: steps.changed-py-files.outputs.any_changed == 'true'
      run: |
        pytest --cov=mfai --cov-fail-under=85 tests/